In [ ]:
import pandas as pd
df = pd.read_csv("學生成績.csv")
df["國文"]

In [3]:
df.iloc[2]

學號       3
姓名     游倫城
國文      54
英文      67
數學      64
地理      60
歷史      98
總分     343
平均    68.6
Name: 2, dtype: object

In [6]:
df[:3] #抓前三筆資料

   學號   姓名  國文  英文  數學   地理  歷史   總分    平均
0   1  錢欣潔  79  66  64  100  73  382  76.4
1   2  楊綺芬  66  68  89   97  86  406  81.2
2   3  游倫城  54  67  64   60  98  343  68.6

In [11]:
import pandas as pd
df = pd.read_csv("學生成績.csv")
#DataFrame 的 subscript
name_s = df["姓名"] #直接抓欄位名稱，會跑出Series資料
name_s

0     錢欣潔
1     楊綺芬
2     游倫城
3     陳彥治
4     蔡世馨
5     陳逸華
6     高士凱
7     王泓泰
8     陳奇瑄
9     鄭奇翰
10    蔡士賢
11    楊又源
12    郭淑枝
13    龔姵君
14    吳麗卿
15    郎慧萍
16    陳彥治
17    游一鈺
18    李慶亮
19    郭淑枝
20    黃江旭
21    郭坤花
22    吳欣書
23    蘇婷婷
24    白美珍
25    張莉雯
26    黃心航
27    黃詩妃
28    蕭淑華
29    林淑安
30    李美洋
31    黃詩妃
32    尚偉倫
33    白世宏
34    聶心怡
35    郎慧萍
36    陳姵彬
37    林希啟
38    呂傑宣
39    梁柏宇
40    張雅芬
41    張彥博
42    黃名明
43    黃靜怡
44    盧必妍
45    陳建香
46    王志謙
47    吳俐芷
48    陳冠竹
49    林詠斌
Name: 姓名, dtype: object

In [17]:
#Series 的 subscript
display(name_s) 
display(name_s[0])
print("==============")
display(name_s[0:3])
print("==============")
display(name_s[-3:])
print("==============")
display(name_s[[0, 5, 8]])

0     錢欣潔
1     楊綺芬
2     游倫城
3     陳彥治
4     蔡世馨
5     陳逸華
6     高士凱
7     王泓泰
8     陳奇瑄
9     鄭奇翰
10    蔡士賢
11    楊又源
12    郭淑枝
13    龔姵君
14    吳麗卿
15    郎慧萍
16    陳彥治
17    游一鈺
18    李慶亮
19    郭淑枝
20    黃江旭
21    郭坤花
22    吳欣書
23    蘇婷婷
24    白美珍
25    張莉雯
26    黃心航
27    黃詩妃
28    蕭淑華
29    林淑安
30    李美洋
31    黃詩妃
32    尚偉倫
33    白世宏
34    聶心怡
35    郎慧萍
36    陳姵彬
37    林希啟
38    呂傑宣
39    梁柏宇
40    張雅芬
41    張彥博
42    黃名明
43    黃靜怡
44    盧必妍
45    陳建香
46    王志謙
47    吳俐芷
48    陳冠竹
49    林詠斌
Name: 姓名, dtype: object

'錢欣潔'

==============

0    錢欣潔
1    楊綺芬
2    游倫城
Name: 姓名, dtype: object

==============

47    吳俐芷
48    陳冠竹
49    林詠斌
Name: 姓名, dtype: object

==============

0    錢欣潔
5    陳逸華
8    陳奇瑄
Name: 姓名, dtype: object