In [4]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4, 3),
            columns=["b", "d", "e"],
            index=["台北", "台中", "台南", "高雄"]
        )

frame

           b         d         e
台北  1.382670  0.664724  0.096996
台中 -0.328872  0.632490 -0.036633
台南  0.631742  1.578980  0.295659
高雄  0.691822 -0.514050 -0.044567

In [5]:
np.abs(frame)

           b         d         e
台北  1.382670  0.664724  0.096996
台中  0.328872  0.632490  0.036633
台南  0.631742  1.578980  0.295659
高雄  0.691822  0.514050  0.044567

In [11]:
#使用numpy做統計的動作
display(np.mean(frame, axis=0)) #平均值
display(np.mean(frame, axis=1))

b    0.594341
d    0.590536
e    0.077864
dtype: float64

台北    0.714797
台中    0.088995
台南    0.835460
高雄    0.044402
dtype: float64

In [13]:
#dataFrame.mean()  實體方法
display(frame.mean())
display(frame.mean(axis=1))

b    0.594341
d    0.590536
e    0.077864
dtype: float64

台北    0.714797
台中    0.088995
台南    0.835460
高雄    0.044402
dtype: float64

In [15]:
frame.loc["台北"].mean()

0.7147965603100329

In [17]:
np.mean(frame.loc["台北"])

0.7147965603100329